extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	body(next-hide)
		.body
			.boxWhite.zoomIn
				.boxText
					h1 CASO FICTÍCIO A
					h2 Desafios na Implementação de um Novo Sistema de Atendimento ao Cliente
					p A RD está implementando um novo sistema de atendimento ao cliente em suas lojas para melhorar a experiência do cliente e aumentar a satisfação. No entanto, durante a fase de implementação, surgiram alguns desafios que precisam ser enfrentados. Como líder da equipe responsável por essa implementação, você é confrontado com várias situações que exigem a aplicação dos comportamentos-chave da RD.
					button.confirm.block.pulse
						p Confirmar
				.boxQuestion
					p <b>PERGUNTA 1</b>
					p Durante a fase de treinamento da equipe para usar o novo sistema, você percebe que alguns membros da equipe estão tendo dificuldades em entender as funcionalidades básicas. Como você lidaria com essa situação?
					.boxFlex
						.flex.flex1.false.it(res=0)
							button.btn.btn1
								+image('check.png', 'check')
							p Ignoraria as dificuldades e continuaria o treinamento conforme planejado.
						.flex.flex2.correct.it(res=1)
							button.btn.btn2
								+image('check.png', 'check')
							p Identificaria os membros da equipe com dificuldades e ofereceria sessões de treinamento adicionais ou suporte individualizado para ajudá-los a entender melhor o sistema.
					
			
		
block scripts
	script(src="script.js")