extends ../../templates/page/template.page-base-adaptativo.pug


block styles
	link(rel="stylesheet", href="style.css")

block body
	body(next-hide, menu-hide)
		.body
			.coverData.zoomIn.delay1
				#cover
					<img class="base" src="" />
					<img class="person" src="" />
				.placa2.left.delay3 
					span.ageBase
			.dados.up
				.placa
					.placaBase.nameBase.in
					
				.infoD
					.dat
						h4
					.subInfoD
						p <span class="bold">Data:</span> <span class="datF dateInfo"></span>
						p <span class="bold">Local:</span> 
							<span class="datF endereco">
								<a  class="addressInfo" target="_blank"></a>
								<a class="googleMapInfo" target="_blank">Google Maps</a>
							</span>
						p.info Mas antes, vamos jogar essa grande aventura com <span class="nome bold nameBaseOnly"></span>.
				button.pulse.callGame(onclick="navigate.next()") Jogar

block scripts
	+scriptScripts('gsap.min.js')
	script(src="script.js")