extends ../../templates/page/template.page-base-adaptativo.pug


block styles
	link(rel="stylesheet", href="style.css")

block body
	body(next-hide, menu-hide)
		.body
			.coverData.zoomIn.delay1
				#cover
					<img class="base" src="" />
					<img class="person" src="" />
			.dados.up
				.placa.nameBase.left.delay2 
				.infoD
					.dat
						h4
					//- h4 Oi amiguinho(a), o <span class="nome bold">Bento</span> vai fazer uma super festa de <span class="anos bold">4</span> anos e você não pode ficar de fora! Vai ter muita brincadeira, docinhos e diversão!
					.subInfoD
						p <span class="bold">Data:</span> <span class="datF dateInfo"></span>
						p <span class="bold">Local:</span> <span class="datF endereco"><a  class="addressInfo" target="_blank"></a></span>
						p.info Mas antes, vamos jogar essa grande aventura com o <span class="nome bold nameBase"></span>.
				button.pulse.callGame(onclick="navigate.next()") Jogar

block scripts
	+scriptScripts('gsap.min.js')
	script(src="script.js")