extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	body(prev-hide, next-hide, menu-hide)
		.body
			video.desk(src="../../assets/video/abertura.mp4" muted autoplay )
			video.mobile(src="../../assets/video/mobile.mp4" muted autoplay )
			//- +image('pag01/line.png', 'line')
			//- +image('pag01/pers.png', 'pers left')
			//- .box.up.delay1
			//- 	+image('logo.png', 'logoCapa')
			//- 	h1 Evolução Cultural
			//- 	p Líderes RD
			//- 	button.btn.pulse(onClick="navigate.next()")
			//- 		p Começar
block scripts
	script(src="script.js")