extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	body(prev-hide, next-hide, menu-hide)
		.body
			div.containerBase
			div.animation-wrapper
				.particle.particle-1
				.particle.particle-2
				.particle.particle-3
				.particle.particle-4
			div.mobileBase
				+image('mobile5.gif', 'mobile')
				.setLeft.up.delay2 Corra para<br> a esquerda
				.setRight.right.delay2 Corra para<br> a direita 
				.setUp.up.delay2 Pule com<br> o personagem
				//- h1 Corra e pule com as Setas.
			
block scripts
	script(src="script.js")