extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	body(prev-page="pag05", next-hide)
		.body
			+image('pag06/maestro.png', 'pers left')
			.flexView
				+image('pag08a/box.png', 'boxImg')
				+image('detalhe1.svg', 'detalhe detalhe1')
				+image('detalhe2.svg', 'detalhe detalhe2')
				.boxInfo
					h1 Mas como colocar tudo em prática?
					p Que tal perguntar ao maestro?
					.flexEnd
						button.btn.pulse(onclick="navigate.next()")
							p Falar com o maestro
					
				
block scripts
	script(src="script.js")