extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	body(next-hide)
		.body
			.boxWhite.zoomIn
				.boxText
					h1 CASO FICTÍCIO A
					h2 Desafios na Implementação de um Novo Sistema de Atendimento ao Cliente
					p A RD está implementando um novo sistema de atendimento ao cliente em suas lojas para melhorar a experiência do cliente e aumentar a satisfação. No entanto, durante a fase de implementação, surgiram alguns desafios que precisam ser enfrentados. Como líder da equipe responsável por essa implementação, você é confrontado com várias situações que exigem a aplicação dos comportamentos-chave da RD.
					button.confirm.block.pulse
						p Confirmar
				.boxQuestion
					p <b>PERGUNTA 2</b>
					p Após a implementação do novo sistema, alguns clientes expressaram insatisfação com a velocidade do atendimento e a eficiência do novo processo. Como você abordaria essa preocupação dos clientes?
					.boxFlex
						.flex.flex1.false(res=0)
							button.btn.btn1
								+image('check.png', 'check')
							p Ignoraria as reclamações dos clientes, pois acredita que a eficiência do novo sistema é mais importante.
						.flex.flex2.correct(res=1)
							button.btn.btn2
								+image('check.png', 'check')
							p Ouviria atentamente as preocupações dos clientes, investigaria as causas subjacentes da insatisfação e trabalharia com a equipe para identificar soluções que melhorassem a eficiência do atendimento sem comprometer a qualidade.

block scripts
	script(src="script.js")