extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	body(next-hide)
		.body
			.boxWhite.zoomIn
				.boxText
					h1 CASO FICTÍCIO C
					h2 Implementação de Programa de Desenvolvimento Profissional
					p A RD está lançando um programa de desenvolvimento profissional para seus colaboradores, com o objetivo de promover o crescimento individual e coletivo dentro da empresa. Como líder encarregado deste programa, você precisa garantir que ele esteja alinhado com os Princípios da Liderança RD.
					button.confirm.block.pulse
						p Confirmar
				.boxQuestion
					p <b>PERGUNTA 5</b>
					p Durante a implementação do programa, surgem questionamentos sobre como priorizar as necessidades de desenvolvimento dos colaboradores. Alguns membros da equipe defendem a abordagem de priorizar as habilidades técnicas necessárias para o trabalho atual, enquanto outros argumentam que o foco deve ser no desenvolvimento de habilidades interpessoais e de liderança. Como você resolveria essa questão?
					.boxFlex
						.flex.flex1.false(res=0)
							button.btn.btn1
								+image('check.png', 'check')
							p Facilitaria uma discussão entre os membros da equipe para entender todas as perspectivas e tomar uma decisão que equilibre as necessidades de desenvolvimento técnico e interpessoal dos colaboradores.
						.flex.flex2.correct(res=1)
							button.btn.btn2
								+image('check.png', 'check')
							p Decidiria unilateralmente priorizar as habilidades técnicas para garantir que os colaboradores cumpram suas responsabilidades atuais.
		
block scripts
	script(src="script.js")