extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	body(next-hide, prev-page="pag05", next-page="pag05")
		.body
			.boxOrange.zoomIn
				.boxText
					h1 Cuidamos de Gente
					p Este valor nos diz que, aqui na RD Saúde, temos um olhar integral e visamos o cuidado integral das pessoas – de nossas equipes, bem como de nossos clientes.
					p.prop-mt1 Diante disso, temos dois comportamentos esperados de nossos times.
				.boxAccordeon
					p.subtext Clique em + para conhecer os comportamentos esperados.
					.container-accordeon
						.corpbtn
							button.accordeon-title
								.boxImg
									+image('help/btn05.png', 'img')
								p Desenvolvemos times saudáveis
							.accordeon-texto
								p Contribuímos com a formação de times cada vez mais saudáveis, inclusivos e de alta performance.
								p É esperado que cada um de nós:
								ul
									li
										p Cuide de perto da própria saúde e da saúde de nossos times.
									li
										p Crie um ambiente seguro e inclusivo que promova respeito, confiança e Diversidade.
									li
										p Inspire, desenvolva e valorize pessoas para atingirem seu máximo potencial.
						.corpbtn
							button.accordeon-title
								.boxImg
									+image('help/btn05.png', 'img')
								p Encantamos nossos clientes
							.accordeon-texto
								p Mergulharmos nas necessidades dos clientes para entregar as melhores soluções e experiências com calor humano.
								p É esperado que cada um de nós:
								ul
									li
										p Cuide de perto dos nossos clientes com empatia e calor humano para fortalecer relações de confiança.
									li
										p Conheça suas necessidades, desejos e evoluções.
									li
										p Busque pelas melhores soluções e experiências para encantá-los em todos os momentos e canais.
						
block scripts
	script(src="script.js")