extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	body(prev-page="pag07a", next-page="pag07a", next-hide)
		.body
			.boxOrange.zoomIn
				.boxAccordeon
					h1 Quais Ritos queremos fortalecer?
					p.subtext Clique em + para conhecer os comportamentos esperados.
					.container-accordeon
						+accordeon02_aba01('Realizar <i><b>check</b></i> in e <i><b>check</b></i> out')
						+accordeon02_aba02('Perguntar para incentivar a participação')
						+accordeon02_aba03('Construir combinados e contornos claros')
						+accordeon02_aba04('Oferecer <i><b>feedback</b></i> recorrente')
						+accordeon02_aba05('Agradecer quem fala')
						+accordeon02_aba06('Diferenciar observações de julgamentos')
						+accordeon02_aba07('Praticar escuta ativa')
						+accordeon02_aba08('Delegar tarefas adequadamente')
						+accordeon02_aba09('Desenvolver competências do time')
						+accordeon02_aba10('Perguntar para incentivar a participação')
						+accordeon02_aba11('Promover um canal aberto para comunicação')
						+accordeon02_aba12('Visitar farmácias e CDs')
						+accordeon02_aba13('Olhar para fora: <i><b>benchmarks</b></i>, fóruns e experiências')
block scripts
	script(src="script.js")