extends ../../templates/page/template.page-base-adaptativo.pug


block styles
	link(rel="stylesheet", href="style.css")

block body
	body(next-hide, menu-hide)
		.body
			.coverData.zoomIn.delay1
				#cover
					+image('pag02/personagem.png', '')
			.dados.up
				.infoD
					h4 Oi amiguinho(a), o <span class="nome bold">Bento</span> vai fazer uma super festa e você não pode ficar de fora! Vai ter muita brincadeira, docinhos e diversão!
					.subInfoD
						p <span class="bold">Quando?</span> <span class="datF dia">15 de outubro</span>
						p <span class="bold">Que horas?</span> <span class="datF horas">às 15h</span>
						p <span class="bold">Onde?</span> <span class="datF endereco"><a href="https://maps.app.goo.gl/3inE8r7xX8eXwNAW6" target="_blank">Avenida Januário Ribeiro, número 1400, no bairro da Varginha, perto do posto Central, em Carbonita - MG.</a></span>
						p.info Mas antes, vamos jogar essa grande aventura com o <span class="nome bold">Bento</span>.
				button.pulse.callGame(onclick="navigate.next()") Jogar

block scripts
	+scriptScripts('gsap.min.js')
	script(src="script.js")