extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	body(next-hide, menu-hide)
		.body
			<div class="containerBase">
				//- <div class="photo-frame step1">
				//- 	<img src="../../assets/img/pag02/foto1.png" />
				//- </div>
				//- <div class="photo-frame step2">
				//- 	<img src="../../assets/img/pag02/foto2.png" />
				//- </div>
				//- <div class="photo-frame step3">
				//- 	<img src="../../assets/img/pag02/foto3.png" />
				//- </div>
				//- <div class="photo-frame step4">
				//- 	<img src="../../assets/img/pag02/foto4.png" />
				//- </div>
				//- <div class="photo-frame step5">
				//- 	<img src="../../assets/img/pag02/foto5.png" />
				//- </div>
				//- <div class="photo-frame step6">
				//- 	<img src="../../assets/img/pag02/personagem.png" />
				//- </div>
			</div>
			<div class="animation-wrapper">
				<div class="particle particle-1"></div>
				<div class="particle particle-2"></div>
				<div class="particle particle-3"></div>
				<div class="particle particle-4"></div>
			</div>
			
					
			
			
block scripts
	+scriptScripts('gsap.min.js')
	script(src="script.js")