extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	body(prev-hide, next-hide, menu-hide)
		.body
			+image('pag09/box.png', 'line')
			+image('pag09/pers.png', 'pers right')
			.box.up.delay1
				h1 Muito bem!
				h2 Você já conhece Nosso Jeito de Liderar e de Cuidar!
				p A partir daqui, continue buscando construir um time e ações de excelência, sem nunca deixar de lado nossos valores. Coloque em prática as ferramentas (Ritos e Práticas) que conheceu aqui, para continuar seu desenvolvimento profissional.
				button.btn.pulse
					p Reiniciar
block scripts
	script(src="script.js")