mixin maestro3a()
    .boxInfoBase.maestro3a
        .balaoM.balaoM1.right.delay1
            p <b>Como é ser líder de um time <br>de alta performance?</b>
        .balaoM.balaoM2.zoomIn.delay2
            p <b>É desafiador!</b> Mas tem tudo a ver com ter um Propósito claro e transparente, construir coesão e coerência por meio de Valores Essenciais e estabelecer Comportamentos que serão a base para o sucesso.
            p Fora isso, o papel de um líder é abrir caminhos para que o seu time <br>dê o melhor de si.
        p.up.delay3 Clique no que deseja responder.
        button.balaoM.balaoM3.right.delay4(step="maestro4a") 
            p UAU! Adorei a reflexão! Obrigada.
        button.balaoM.balaoM3.right.delay4(step="maestro4b") 
            p Hmm... Certo. Vou pensar sobre isso. Obrigada.