mixin maestro4b()
    .boxInfoBase.maestro4b
        .balaoM.balaoM1.right.delay1
            p <b>Hmm... Certo. Vou pensar sobre isso. Obrigada.</b>
        .balaoM.balaoM2.zoomIn.delay2
            p Não há de quê!
            p Já que você está em busca de conhecimento, vou te fazer um convite: 
            p Quer conhecer nossos bastidores?
        p.up.delay3 Clique no que deseja responder.
        button.balaoM.balaoM3.right.delay4(step="final") 
            p Com certeza!