mixin maestro2b()
    .boxInfoBase.maestro2b
        .balaoM.balaoM1.right.delay1
            p <b>Gostei, mas vejo formas de melhorar.</b>
        .balaoM.balaoM2.zoomIn.delay2
            p <b>Sim, claro! Sempre há espaço para crescimento e melhora! E sempre vale a pena continuar nessa busca.</b>
            p Cada ensaio, cada reflexão e cada aprendizado trouxe nossa orquestra até aqui: criadores de um Espetáculo de sucesso! E sabemos que ainda há mais a conquistar.
        p.up.delay3  Clique no que deseja responder.
        button.balaoM.balaoM3.right.delay4(step="maestro3a") 
            p Como é ser líder de um time de alta performance?
        button.balaoM.balaoM3.right.delay4(step="maestro3b") 
            p Qual é o maior desafio de um líder na construção de um Espetáculo?