mixin maestro1()
    .boxInfoBase.maestro1
        //- .balaoM.balaoM1.right.delay1
        //-     p Adorei! Foi incrível!
        .balaoM.balaoM2.zoomIn.delay2
            p Olá! Que bom te receber aqui!
            p O que achou do Espetáculo?
        p.up.delay3  Clique no que deseja responder.
        button.balaoM.balaoM3.right.delay4(step="maestro2a") 
            p Adorei! Foi incrível!
        button.balaoM.balaoM3.right.delay4(step="maestro2b")  
            p Gostei, mas vejo formas de melhorar.