mixin maestro3b()
    .boxInfoBase.maestro3b
        .balaoM.balaoM1.right.delay1
            p <b>Qual é o maior desafio de um líder na construção de um Espetáculo?</b>
        .balaoM.balaoM2.zoomIn.delay2
            p <b>Os desafios de um líder</b> tem tudo a <br>ver com ter um Propósito claro e transparente, construir coesão e coerência por meio de Valores Essenciais e estabelecer Comportamentos que serão a <br>base para o sucesso.
            p Fora isso, o papel de um líder é abrir caminhos para que o seu time dê <br>o melhor de si.
        p.up.delay3 Clique no que deseja responder.
        button.balaoM.balaoM3.right.delay4(step="maestro4a")
            p UAU! Adorei a reflexão! Obrigada.
        button.balaoM.balaoM3.right.delay4(step="maestro4b")
            p Hmm... Certo. Vou pensar sobre isso. Obrigada.