include mixin.imports.pug
include mixin.slider.pug
include mixin.modal.pug
include mixin.feedback.pug
include mixin.pick.one.pug
include mixin.vf.pug
include mixin.header.pug
include mixin.arrows.pug
include mixin.slick.pug
include mixin.help.pug
include mixin.attention.pug

include mixin.ballon.pug
include mixin.ballonQuiz.pug
include mixin.instrucoes.pug
include mixin.maks.pug
include mixin.menuScreen.pug
include mixin.efeitosonoros.pug
include mixin.exercise-drag-drop.pug
include mixin.modalSlide.pug
include mixin.poster.pug

include mixin.orquestra.pug
include mixin.orquestra2.pug

//- accordeon01
include accordeon01/mixin.aba1.pug
include accordeon01/mixin.aba2.pug
include accordeon01/mixin.aba3.pug
include accordeon01/mixin.aba4.pug
include accordeon01/mixin.aba5.pug
include accordeon01/mixin.aba6.pug

//- accordeon02
include accordeon02/mixin.aba1.pug
include accordeon02/mixin.aba2.pug
include accordeon02/mixin.aba3.pug
include accordeon02/mixin.aba4.pug
include accordeon02/mixin.aba5.pug
include accordeon02/mixin.aba6.pug
include accordeon02/mixin.aba7.pug
include accordeon02/mixin.aba8.pug
include accordeon02/mixin.aba9.pug
include accordeon02/mixin.aba10.pug
include accordeon02/mixin.aba11.pug
include accordeon02/mixin.aba12.pug
include accordeon02/mixin.aba13.pug
//- include accordeon02/mixin.aba14.pug


//- maestro
include maestro/mixin.step01.pug
include maestro/mixin.step02a.pug
include maestro/mixin.step02b.pug
include maestro/mixin.step03a.pug
include maestro/mixin.step03b.pug
include maestro/mixin.step04a.pug
include maestro/mixin.step04b.pug
