mixin libras-window
  .librasDiv
    .controls
      .control.closeLibras
      .control.arraste
    
    .crop
      .video

mixin libras-btn(urlId)
  .librasIco(data-libras=urlId)
    img(src="../../assets/img/icon-libras.png")