mixin header()
    header
        .listMenu
            button.btnAudio
                +image('audio.svg', 'playAudio')
                +image('audioPause.svg', 'pauseAudio hide')
            button.btnFullscreen
                +image('fullscreen.svg', '')
            button.btnHelp
                +image('help.svg', '')
            
