mixin controls()

  .controlsNav
    button.bts.btn-nav.btn-prev.container-arrow-left
      +image('help/btn04.png', 'arrow')
    button.bts.btn-nav.btn-next.container-arrow-right.pulse
      +image('help/btn03.png', 'arrow')