- const tabs = [];


mixin ballon(template)
	.container-ballon(class!=template.class)
		+image('person.svg', 'ico-ballon')
		.nav-ballon(indice=0)
			button.btn-ballon.btn-ballon-prev(tabindex=-1)
				+image('btnAvancar.svg', '')
			button.btn-ballon.btn-ballon-next.pulse(tabindex=-1)
				+image('btnAvancar.svg', '')
			button.btn-ballon.btn-ballon-closed.pulse(tabindex=99, aria-label="Avançar")
				+image('button-close.svg', '')
		.fundo-ballon
			block
			each tab in tabs
				.slide-ballon( libras = tab.libra , class = tab.classData )
					.slide-base.up!=tab.block

mixin ballon-item( data_libra = "", classData = "" )
	- var data = {};
	- const oldBuf = pug_html;
	- pug_html = '';
	block
	-
		data.block = pug_html;
		data.libra = data_libra;
		data.classData = classData;
		tabs.push(data);
		pug_html = oldBuf;