mixin attention()
    +modal("attention", "modal modal-theme-01")
        .conteinerModal
            h1(tabindex=acessib_count++) Atenção!
            p Você deseja reiniciar o treinamento?
            .btns
                button.btnCustom01.btnNot
                    p Não
                button.btnCustom01.btnYes
                    p Sim
                       
                    
               
