mixin efeitosonoro()
    span.efeitosonoroBase
        audio#broches.efeitosonoro(src="../../assets/audio/broches.mp3")
        audio#poster.efeitosonoro(src="../../assets/audio/poster.mp3")
        audio#presente.efeitosonoro(src="../../assets/audio/presente.mp3")
        audio#feedpos.efeitosonoro(src="../../assets/audio/feedpos.wav" loop)
        audio#feedneg.efeitosonoro(src="../../assets/audio/feedneg.wav" loop)
        //- audio#trilhaSonora(src="../../assets/audio/trilha.mp3" autoplay loop muted)
        audio#timer.efeitosonoro(src="../../assets/audio/time.mp3" loop)
        audio#podcast.efeitosonoro(src="../../assets/audio/podcast.mp3" loop)
        //- slide 216 - feedFinal