mixin help()
    +modal("help", "modal hide")
        #helpInit
            .bodyHelp
                button.modal-closeHelp
                    +image('help/btnclose.png', 'btnCloseHelp')
                //- .baseH    
                //-     h3.up Ajuda
                .subInfoD.up
                    h4 Informações da Festa
                    p <span class="bold">Data?</span> <span class="datF dia dateInfo"></span>
                    p <span class="bold">Onde?</span> <span class="datF endereco"><a  class="addressInfo" target="_blank"></a> <a class="googleMapInfo" target="_blank">Google Maps</a></span>
                
                p.subt.up.delay1 <b>Para controlar o personagem, utilize as setas do teclado no PC ou as setas exibidas na tela do celular.</b>
                .controleHelp.up.delay2
                    +image('setas.png', 'icoHelp')
                        