mixin help()
    +modal("help", "modal hide")
        #helpInit
            .bodyHelp
                button.modal-closeHelp
                    +image('help/btnclose.png', 'btnCloseHelp')
                //- .baseH    
                //-     h3.up Ajuda
                .subInfoD.up
                    h4 Informações da Festa
                    p <span class="bold">Quando?</span> <span class="datF dia">2 de maio</span>
                    p <span class="bold">Que horas?</span> <span class="datF horas">às 17h</span>
                    p <span class="bold">Onde?</span> <span class="datF endereco"><a href="https://maps.app.goo.gl/jwZUNCvYU3R2jBHJA" target="_blank">Av. Afonso Pena, 1377 - Centro, Belo Horizonte - MG</a></span>
                
                p.subt.up.delay1 <b>Para controlar o personagem, utilize as setas do teclado no PC ou as setas exibidas na tela do celular.</b>
                .controleHelp.up.delay2
                    +image('setas.png', 'icoHelp')
                        