mixin basic-meta-tags
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1")

mixin scriptVendor(name)
	script(src="../../vendor/"+name)

mixin scriptModule(name)
	script(src="../../modules/"+name)

mixin scriptScripts(name)
	script(src="../../scripts/"+name)

mixin linkVendor(name)
	link(rel="stylesheet" href="../../vendor/"+name)

mixin linkModule(name)
	link(rel="stylesheet" href="../../modules/"+name)

mixin linkTemplate(name)
	link(rel="stylesheet" href="../../template/"+name)

mixin image(filename, classes, alt)
	img(src="../../assets/img/"+filename, class=classes, alt=alt)

mixin addStyle
	link(rel="stylesheet", href="style.css")

mixin addScript
	script(src="script.js")