include ../hud/mixin.indicador.pug
doctype html
html.mr-fontsize(lang='pt')
	head
		title
			block title
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		link(rel='stylesheet', href='app/vendor/animate.min.css')
		link(rel='stylesheet', href='app/vendor/normalize.css')
		link(rel='stylesheet', href='app/modules/engine.css')
		link(rel='stylesheet', href='app/template/index.css')
		
		meta(name="description" content="Oi amiguinho(a), o Bento vai fazer uma super festa de 4 anos e você não pode ficar de fora! Vai ter muita brincadeira, docinhos e diversão!")
		link(rel="manifest" href="app/assets/json/appmanifest.json")
		link(rel="apple-touch-icon" sizes="128x128" href="app/assets/img/icons/icon-128.png")
		link(rel="apple-touch-icon" sizes="256x256" href="app/assets/img/icons/icon-256.png")
		link(rel="icon" type="image/png" href="app/assets/img/icons/icon-256.png")

		//- <link rel="icon" href="https://s2-g1.glbimg.com/t2_E-_cSErv4fsbUVhwwEN0YMX0=/32x32/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/H/w/YbA657S3aYVfC0P9wboQ/g1-favicon.png">
		//- <link rel="icon" sizes="128x128" href="https://s2-g1.glbimg.com/7_CSJ0a2BppGqptPkB7fE1Hacok=/128x128/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/H/w/YbA657S3aYVfC0P9wboQ/g1-favicon.png">
		//- <link rel="icon" sizes="152x152" href="https://s2-g1.glbimg.com/szHLoTRvs6YWm9NNieGM7KU2eEE=/152x152/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/H/w/YbA657S3aYVfC0P9wboQ/g1-favicon.png">
		//- <link rel="icon" sizes="167x167" href="https://s2-g1.glbimg.com/SU2Z6rs9rolyarVbXBSjaN6J0Jw=/167x167/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/H/w/YbA657S3aYVfC0P9wboQ/g1-favicon.png">
		//- <link rel="icon" sizes="180x180" href="https://s2-g1.glbimg.com/S1o7u7ulLX54NM6X_pRUSid8yXg=/180x180/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/H/w/YbA657S3aYVfC0P9wboQ/g1-favicon.png">
		//- <link rel="icon" sizes="192x192" href="https://s2-g1.glbimg.com/ANFXvAeR8V-2tbOMMP9tc2qFqJA=/192x192/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/H/w/YbA657S3aYVfC0P9wboQ/g1-favicon.png">
		//- <link rel="icon" sizes="196x196" href="https://s2-g1.glbimg.com/LsuKXSXhHyq6vHO3DX_fXzijkCg=/196x196/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/H/w/YbA657S3aYVfC0P9wboQ/g1-favicon.png">
		//- <link rel="apple-touch-icon" sizes="57x57" href="https://s2-g1.glbimg.com/GpmOCEG_6A1NUKWKtbzFpijsyR0=/57x57/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/H/w/YbA657S3aYVfC0P9wboQ/g1-favicon.png">
		//- <link rel="apple-touch-icon" sizes="72x72" href="https://s2-g1.glbimg.com/ntE_GO6uMpnPlZ2uD5ueQavJQNE=/72x72/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/H/w/YbA657S3aYVfC0P9wboQ/g1-favicon.png">
		//- <link rel="apple-touch-icon" sizes="114x114" href="https://s2-g1.glbimg.com/aFlLEuzGSYw2KtjvARZnCsFtgnk=/114x114/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/H/w/YbA657S3aYVfC0P9wboQ/g1-favicon.png">
		
		//- <meta property="fb:pages" content="180562885329138, 219182291443741, 116428248441032, 245000562218276, 192158074155314, 200292646669956, 182638081814153, 134115896703387, 131554330279675, 150737454992906, 159354314154963, 163750819397, 746858798714372, 246628845518037, 569361039814687, 252487748264782, 322744631148014, 718028201673172">
		<meta property="fb:app_id" content="289255557788943">
		<meta property="twitter:description" content="Oi amiguinho(a), o Bento vai fazer uma super festa de 4 anos e você não pode ficar de fora! Vai ter muita brincadeira, docinhos e diversão!">
		<meta property="twitter:card" content="summary_large_image"><meta property="twitter:title" content="Bento">
		<meta property="twitter:image" content="app/assets/img/icons/img_facebook.png">
		<title>Bento</title>
		<meta name="title" content="Bento">
		<meta name="description" content="Oi amiguinho(a), o Bento vai fazer uma super festa de 4 anos e você não pode ficar de fora! Vai ter muita brincadeira, docinhos e diversão!">
		<meta itemprop="image" content="app/assets/img/icons/img_facebook.png">
		<link rel="canonical" href="https://s3.sa-east-1.amazonaws.com/www.nilocesar.eu/2024/bento/index.html">
		<meta property="og:type" content="website">
		<meta property="og:description" content="Oi amiguinho(a), o Bento vai fazer uma super festa de 4 anos e você não pode ficar de fora! Vai ter muita brincadeira, docinhos e diversão!">
		<meta property="og:title" content="Bento">
		<meta property="og:locale" content="pt_BR">
		<meta property="og:site_name" content="Venha Comemorar">
		<meta property="og:image" content="app/assets/img/icons/img_facebook.png">
		<meta property="og:image:width" content="1200"><meta property="og:url" content="https://s3.sa-east-1.amazonaws.com/www.nilocesar.eu/2024/bento/index.html">
		<meta name="robots" content="max-image-preview:large">

	body
		<audio class="audioTrilha" src="app/assets/audio/trilha.mp3" loop="true" status=0></audio>
		main#main
		.hud
			block hud
				.indicadores
					block indicadores
		block popups
		//- include ../hud/hud.cover.pug
		include ../hud/hud.loader.pug
		//- vendor
		script(src='app/vendor/bluebird.min.js')
		script(src='app/vendor/jquery.min.js')
		block vendor-js

		//- config & engine
		script(src='app/config.js')
		script(src='app/modules/engine.min.js')
		script(src='app/modules/component.hud-loader.js')
		//- modules
		block modules-js
		//- Main
		script(src='app/template/main.bundle.js')
