extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	body(next-hide)
		.body
			.boxWhite.zoomIn
				.boxText
					h1 CASO FICTÍCIO C
					h2 Implementação de Programa de Desenvolvimento Profissional
					p A RD está lançando um programa de desenvolvimento profissional para seus colaboradores, com o objetivo de promover o crescimento individual e coletivo dentro da empresa. Como líder encarregado deste programa, você precisa garantir que ele esteja alinhado com os Princípios da Liderança RD.
					button.confirm.block.pulse
						p Confirmar
				.boxQuestion
					p <b>PERGUNTA 6</b>
					p Após o lançamento do programa, alguns colaboradores expressam preocupações sobre a falta de diversidade nas oportunidades de desenvolvimento oferecidas. Eles alegam que as oportunidades são mais acessíveis para determinados grupos de funcionários, enquanto outros são deixados de lado. Como você abordaria essas preocupações?
					.boxFlex
						.flex.flex1.correct(res=1)
							button.btn.btn1
								+image('check.png', 'check')
							p Ouviria atentamente as preocupações dos colaboradores, conduziria uma revisão do programa para identificar lacunas na diversidade de oportunidades e implementaria medidas corretivas para garantir que todos os colaboradores tenham acesso equitativo ao desenvolvimento profissional.
						.flex.flex2.false(res=0)
							button.btn.btn2
								+image('check.png', 'check')
							p Ignoraria as preocupações dos colaboradores, enfatizando apenas os benefícios do programa para aqueles que podem participar.
		
block scripts
	script(src="script.js")