mixin accordeon01_aba04(title)
  .corpbtn
    button.accordeon-title
      .boxImg
        +image('help/btn05.png', 'img')
      p <i><b>Offsite</b></i> com times para trabalhar cultura e team bulding
    .accordeon-texto
      .flexLine
        .blockImg
          +image('pag07b/slide61.png', 'img')
        .texts
          ul
            li
              p <b>Objetivo:</b> Encontros de conexão e construção de times (team building) fora da empresa e com focos específicos como fortalecer cultura e estratégia, promover comunicação e colaboração, e aproximar times.
            li
              p <b>Frequência:</b> Semestral ou anual, conforme contexto.
            li
              p <b>Formato:</b> Presencial.
            li
              p <b>Duração:</b> Pode variar dependendo do tipo de evento, mas, em geral, de 1 a 2 dias.
            li
              p <b>Público:</b> Líderes e seus times com apoio do consultor de Gente e Cultura.
      .boxLine
        p <b>Boas práticas</b>
        ul
          li
            p Sair do ambiente de trabalho habitual pode proporcionar uma mudança de perspectiva, estimular a criatividade e aumentar a motivação dos funcionários.
          li
            p Abrir espaço para escutar e captar inputs para o desenvolvimento das pautas de estratégia e cultura.
          li
            p O evento <i>offsite</i> pode ser uma forma eficaz de reconhecer e recompensar os funcionários, melhorando assim a moral e a retenção de funcionários.
          li
            p O evento corporativo <i>offsite</i> oferece uma oportunidade para os funcionários de diferentes departamentos ou níveis hierárquicos se comunicarem e se conhecerem melhor, o que pode levar a uma melhor compreensão e colaboração em toda a empresa.
          li
            p Promover momento de troca em grupos menores para fortalecer conexão entre diferentes pessoas e áreas da VP.
          li
            p Rever o passado e projetar o futuro.
          li
            p Avaliar a possibilidade de contar com parceiros externos para dinâmicas de sensibilização ou facilitação.	
