mixin accordeon01_aba02(title)
  .corpbtn
    button.accordeon-title
      .boxImg
        +image('help/btn05.png', 'img')
      p Reuniões skip level
    .accordeon-texto
      .flexLine
        .blockImg
          +image('pag07b/slide59.png', 'img')
        .texts
          ul
            li
              p <b>Objetivo:</b> Encontros para promover a comunicação direta e aberta entre as altas lideranças e os membros da equipe que trabalham sob sua gestão, obtendo uma perspectiva mais abrangente sobre os desafios, ideias e opiniões do time.
            li
              p <b>Frequência:</b> Trimestral a semanal, dependendo do tamanho do time.
            li
              p <b>Formato:</b> Presencial ou online. A prática pode ser realizada no formato 1:1 ou em pequenos grupos, para que todas as pessoas se sintam confortáveis em compartilhar.
            li
              p <b>Duração:</b> 45 min a 1h
            li
              p <b>Público:</b> Líderes com seus liderados indiretos: VPs com gerentes, diretores com coordenadores, por exemplo.
      .boxLine
        p <b>Boas práticas</b>
        ul
          li
            p Realizar as reuniões skip level em intervalos regulares para manter a comunicação aberta e aprofundar o relacionamento com a equipe ao longo do tempo.
          li
            p Buscar o equilíbrio entre ouvir e falar, fazendo perguntas para entender melhor as perspectivas do time.
          li
            p Evitar julgamentos prematuros e tentar entender e considerar todas as perspectiva.
          li
            p É possível que em um primeiro momento as pessoas não se sintam tão confortáveis para falar, mas é importante insistir na prática para que a confiança se estabeleça entre a liderança e o time.
          li
            p Ter abertura para mostrar vulnerabilidade e falar de temas pessoais para quebrar barreiras que inibem pessoas a falarem.
          li
            p O que fazer depois: Compartilhar com suas lideranças diretas as mensagens chaves para capturar como sentem e pensam os aspectos capturados. Fazer combinados. Acompanhar.
          li
            p Não expor falas individuais.	
      .flexLine.reverse
        .blockImg
          +image('pag07b/slide59b.png', 'img')
        .texts
          p <b>Ambiente do encontro</b>
          ul
            li
              p Abrir espaço para a circulação da fala e para vulnerabilidade.
            li
              p Espaço voltado para escuta atenta e troca de ideias.
            li
              p Disposição mais horizontal ou circular para quebrar hierarquias.