mixin accordeon01_aba06(title)
  .corpbtn
    button.accordeon-title
      .boxImg
        +image('help/btn05.png', 'img')
      p Momento estruturado de melhoria contínua no time
    .accordeon-texto
      .flexLine
        .blockImg
          +image('pag07b/slide63.png', 'img')
        .texts
          ul
            li
              p <b>Objetivo:</b> : Encontros para reforçar os acertos, identificar pontos de melhoria e traçar um planos de ação.
            li
              p <b>Frequência:</b> Frequência bimestral ou mediante um erro que tenha sido significativo.
            li
              p <b>Formato:</b> Presencial, online ou híbrido.
            li
              p <b>Duração:</b> 45 minutos a 1 hora, dependendo do formato e tamanho do grupo.
            li
              p <b>Público:</b> Líderes com seus liderados diretos: Diretores com seus Gerentes; Gerentes com seus Coordenadores e times.
      .boxLine
        p <b>Boas práticas</b>
        ul
          li
            p Permita que as pessoas se sintam a vontade para trazer os pontos que não funcionaram bem.
          li
            p Mantenha os registros dos encontros para acompanhamento junto ao time.
          li
            p Estabeleça donos para os planos de ação.
          li
            p Busque o equilíbrio entre ouvir e falar, fazendo perguntas para entender melhor as perspectivas do time.
          li
            p Evite julgamentos prematuros e tentar entender e considerar todas as perspectiva.
          li
            p Agradeça quem fala e traz suas percepções, mesmo que você pense diferente.
      