mixin accordeon01_aba05(title)
  .corpbtn
    button.accordeon-title
      .boxImg
        +image('help/btn05.png', 'img')
      p Encontro de VPs para direcionamento estratégico
    .accordeon-texto
      .flexLine
        .blockImg
          +image('pag07b/slide62.png', 'img')
        .texts
          ul
            li
              p <b>Objetivo:</b> Encontro entre times de uma mesma VP para promover direcionamentos estratégico e reconhecimento das entregas dos times.
            li
              p <b>Frequência:</b> Mínima anual.
            li
              p <b>Formato:</b> Híbrido.
            li
              p <b>Duração:</b> 2 horas
            li
              p <b>Público:</b> Todos os times da VP.
      .boxLine
        p <b>Boas práticas</b>
        ul
          li
            p Apresentar uma atualização dos resultados e metas da VP.
          li
            p Promover conexão das pautas com os elementos da cultura RD.
          li
            p Abrir espaço para perguntas e respostas.
          li
            p Reconhecer entregas e conquistas coletivas.
          li
            p Dar espaço para times ou parceiros externos apresentarem conteúdos que possam contribuir com o desenvolvimento da equipe.	
      .flexLine.reverse
        .blockImg
          +image('pag07b/slide62a.png', 'img')
        .texts
          p <b>Ambiente do encontro</b>
          ul
            li
              p Revezamento de apresentadores para dar visibilidade a diferentes pessoas e times.
            li
              p Espaço e cadeiras para comportar todos os membros da diretoria.
            li
              p Condução de pautas por meio de uma apresentação guia.