mixin accordeon01_aba03(title)
  .corpbtn
    button.accordeon-title
      .boxImg
        +image('help/btn05.png', 'img')
      p 1:1 periódicos
    .accordeon-texto
      .flexLine
        .blockImg
          +image('pag07b/slide60.png', 'img')
        .texts
          ul
            li
              p <b>Objetivo:</b> Encontros de conexão 1 a 1 entre liderança e membros do seu time para conversar sobre temas que estejam no radar de interesse ou preocupação dos liderados.
            li
              p <b>Frequência:</b> Pelo menos uma vez por mês (sujeito a variação conforme necessidade do membro da equipe e disponibilidade da agenda da liderança).
            li
              p <b>Formato:</b> Presencial ou online, conforme contexto e possibilidades dos envolvidos.
            li
              p <b>Duração:</b> 45 min a 1h
            li
              p <b>Público:</b> Líderes e seus liderados diretos.
      .boxLine
        p <b>Boas práticas</b>
        ul
          li
            p Dar prioridade para os membros da equipe definirem a pauta conforme suas necessidades.
          li
            p Realizar a agenda com recorrência, seja uma vez por semana ou uma vez por mês.
          li
            p Fazer perguntas abertas para compreender o momento da pessoa.
          li
            p Peça exemplos para ter ainda mais clareza do que o outro pensa/ sente.
          li
            p Explorar diferentes formatos para a conversa (saída para um café, almoço, caminhada no campus, por exemplo).
          li
            p Ser pontual.
          li
            p Registrar os combinados.	
          li
            p Checar entendimento – diga com suas palavras o que compreendeu de alguma mensagem chave da conversa.	
      .flexLine.reverse
        .blockImg
          +image('pag07b/slide60b.png', 'img')
        .texts
          p <b>Ambiente do encontro</b>
          ul
            li
              p Materiais que possibilitem registros de temas e combinados.
            li
              p Espaço voltado para escuta atenta e troca de ideias.
            li
              p Uso de ambientes que possibilitem.