mixin accordeon01_aba01(title)
  .corpbtn
    button.accordeon-title
      .boxImg
        +image('help/btn05.png', 'img')
      p Encontros bimestrais de diretoria
    .accordeon-texto
      .flexLine
        .blockImg
          +image('pag07b/slide58.png', 'img')
        .texts
          ul
            li
              p <b>Objetivo:</b> Promover alinhamentos, atualizações e reconhecimento em relação às entregas entre times que compõe uma mesma diretoria.
            li
              p <b>Frequência:</b> Bimestral
            li
              p <b>Formato:</b> Presencial ou online, conforme contexto e preferência do time.
            li
              p <b>Duração:</b> 1h 30min
            li
              p <b>Público:</b> Todos os times que fazem parte da diretoria.
      .boxLine
        p <b>Boas práticas</b>
        ul
          li
            p Apresentar a atualização dos resultados e metas, destacando importantes avanços, entregas e pontos de atenção.
          li
            p Promover conexão das pautas com os elementos da cultura RD.
          li
            p Abrir espaços para Perguntas & Respostas dos times.
          li
            p Reconhecer entregas e conquistas individuais e coletivas, dando destaque para pessoas e times.
          li
            p Promover momentos de troca em grupos menores para fortalecer conexão entre diferentes pessoas e times da diretoria.
          li
            p Dar espaço para times ou parceiros externos apresentarem conteúdos que possam contribuir com desenvolvimento da equipe.									
      .flexLine.reverse
        .blockImg
          +image('pag07b/slide58b.png', 'img')
        .texts
          p <b>Ambiente do encontro</b>
          ul
            li
              p Revezamento de apresentadores para dar visibilidade a diferentes pessoas e times.
            li
              p Espaço e cadeiras para comportar todos os membros da diretoria.
            li
              p Abrir espaços para Perguntas & Respostas dos times.
            li
              p Condução de pautas por meio de uma apresentação guia.

  