extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	body(prev-hide,next-hide, menu-hide)
		.body
			iframe#iframeGame(frameborder="0") 
					
				
block scripts
	script(src="script.js")