extends ../../templates/page/template.page-base-adaptativo.pug


block styles
	link(rel="stylesheet", href="style.css")

block body
	body(next-hide, menu-hide)
		.body
			.coverData.zoomIn.delay1
				#cover
					<img class="base" src="" />
					<img class="person" src="" />
			.dados.up
				.placa.nameBase.in.delay2
				.infoK
					h4 
					.subInfoD
						p <span class="bold">Data:</span> <span class="datF dateInfo"></span>
						p <span class="bold">Local:</span> <span class="datF endereco"><a class="addressInfo" target="_blank"></a></span>
					.btnSaiContainer
						.btnSair Sair

block scripts
	+scriptScripts('gsap.min.js')
	script(src="script.js")