@import '../../less/includes/colors.less';
@import '../../less/includes/fonts.less';
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

/* 
    
        HEY!
        Check my new pen "Amazing Perspective Walking Background"
        - just CSS
        - very, very simple
      
        https://codepen.io/tonetlds/pen/yOdZLx
    
    */


/*--------------
        splash
    ---------------*/




body {
    position: relative;
    overflow: hidden;
    background-size: cover;
    text-align: center;
    padding: 0em;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 0px;
    border-bottom: none;
    background-color: #00B5AD;
    background-image: radial-gradient(farthest-corner, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.95));
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 0);
    transition: background-color 3s ease-in-out 2s;
    perspective: 1000px;

    .body{
        transform: rotate(-0.3deg);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        margin-top: 5rem;
    }

    &:after {
        position: absolute;
        z-index: -1;
        width: 300vw;
        height: 335vh;
        top: -100vh;
        left: -80vw;
        content: '';
        background-image: url(../../assets/img/pag03/fundo1.png);
        transform-origin: 50% 50%;
        transform-style: preserve-3d;
        animation-name: splash;
        transition: opacity 3s ease-in-out, transform 5s ease-in-out;
        opacity: 0.06;
        animation-duration: 15s;
        animation-fill-mode: both;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        transform: rotateX(50deg) rotateZ(0deg) rotateY(0deg) translateY(-14%) translateX(-14%) translateZ(370px);

        @keyframes splash {
            0% {
                background-position: 0% 0%;
            }
    
            100% {
                background-position: 0% -475px;
            }
        }
    }

    .coverData{
        position: absolute;
        transform: rotate(-5deg);
        width: 20rem;
        height: 20rem;
        top: -2rem;
        left: 2rem;
        z-index: 3;
    }

    #cover {
        position: absolute;
        width: 100%;
        height: 100%;
        border: 0.5rem solid #fff;
        box-shadow: 0 -0.5rem 1rem -0.5rem rgba(0, 0, 0, .2);
        box-shadow: -1px -2px 21px 1px rgba(0, 0, 0, 0.75);
        top: 0;
        left: 0;

        &::before{
            position: absolute;
            background-color: #F2C61F;
            background-image: url(../../assets/img/pag02/foto5.png);
            background-size: cover;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            vertical-align: middle;
            mask: url(../../assets/img/pag03/painting.png);
        }
    }

    .dados{
        position: relative;
        width: 55rem;
        height: 28rem;
        background-color: #fff;
        box-shadow: 0 -0.5rem 1rem -0.5rem rgba(0, 0, 0, .2);
        z-index: 0;
        padding: 2rem;

        &::before{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            background-image: url(../../assets/img/pag03/fundoCarta.png);
            opacity: 0.3;
        }

        *{
            color: rgb(38, 38, 38);
            text-align: left;
            font-weight: 400;
        }

        .infoD{
            position: relative;
            padding-left: 10rem;

            h4{
                position: relative;
            }
        }
        

        .bold{
            // color: rgb(7, 52, 14);
            font-weight: 700;
            font-family: "Caveat", cursive;
            font-optical-sizing: auto;
            font-style: normal;
            font-size: 1.6rem ;
        }

        h4{
            font-size: 2.8rem;
            margin-bottom: 1rem;
            font-weight: 400;
            font-family: "Caveat", cursive;
            font-optical-sizing: auto;
            font-style: normal;
            padding-left: 11rem;

            .bold {
                font-size:inherit;
            }
        }

        a{
            cursor: pointer;
            text-decoration:underline;
            color: #004350;
        }

        .subInfoD{
            margin-top: 2rem;
        }

        p{
            font-size: 1.3rem;
            .datF{
                position: relative;
                padding-left: 0.5rem;
                font-size: 2rem;
            }
        }
        .info{
            margin: 1rem 0;
            text-align: center;
            padding: 0;
            font-weight: bold;
            font-size: 2.3rem;
            font-weight: 400;
            font-family: "Caveat", cursive;
            font-optical-sizing: auto;
            font-style: normal;

            .bold {
                font-size: inherit;
            }
        }

        .callGame{
            position: relative;
            width: 100%;
            background-color: #d66e0f;
            color: #0b2f2a;
            padding: 0.5rem;
            border-radius: 0.2rem;
            text-align: center;
            font-size: 2.2rem;
            font-weight: bold;
            cursor: pointer;
            margin-top: 0rem;
            font-weight: 700;
            font-family: "Caveat", cursive;
            font-optical-sizing: auto;
        }

    }
}






