mixin accordeon02_aba03(title)
  .corpbtn
    button.accordeon-title
      .boxImg
        +image('help/btn05.png', 'img')
      p Construir combinados e contornos claros
    .accordeon-texto
      .boxLine.mt
        p <b>Objetivo:</b> Combinar as regras do jogo de forma clara e com compromisso das partes. Afinal, isso é crucial para ampliar a dimensão do comprometimento.
      .boxLine
        p <b>Como?</b>
        p.mt1 Esclareça alguns níveis de informação:
        ol
          li
            p <b>Contornos Organizacionais</b>
            p Exemplos: Estratégia de negócio, momento da empresa, a cultura na qual estamos inseridos, dados do mercado.
          li
            p <b>Contornos Situacionais</b>
            p Exemplos: Expectativas, prioridades, atividades, prazos, disponibilidade de orçamento e governança.
          li
            p <b>Contornos Relacionais</b>
            p Exemplos: Preocupações, sentimentos, ideias e percepções individuais.
      .flexLine.reverse
        .blockImg
          +image('pag07c/slide70.png', 'img')
        .texts
          p <b>Dicas</b>
          ol
            li
              p Utilize 10 minutos finais das reuniões de time para retomar mensagens principais relacionadas aos contornos organizacionais, como cultura e estratégia.		
            li
              p Quando for iniciar um novo projeto, realize uma reunião de kick-off para alinhar prazos, orçamento, papéis do time, resultados desejados e sentimentos sobre o projeto.		
            li
              p Durante as reuniões de time, busque dar clareza sobre como você está percebendo o contexto e os seus desafios:
          ul.ul2
            li
              p Onde estamos mais preparados, inseguros ou incertos?
            li
              p Onde vamos precisar dedicar mais tempo?
            li
              p Quais são as suas prioridades?