mixin accordeon02_aba06(title)
  .corpbtn
    button.accordeon-title
      .boxImg
        +image('help/btn05.png', 'img')
      p Diferenciar observações de julgamentos
    .accordeon-texto
      .boxLine.mt
        p <b>Objetivo:</b> Criar um espaço seguro e acolhedor para que se construa boa comunicação.
      .flexLine.reverse
        .blockImg
          +image('pag07c/slide73.png', 'img')
        .texts
          p <b>Como?</b>
          p.mt1 Observação é o ato de considerar com atenção as coisas, os seres e os eventos como são. Já o julgamento é uma avaliação carregada de subjetividade, em que filtramos os fatos a partir da nossa percepção, nos afastando da literalidade dos acontecimentos.
          p.mt1 Assim, ao comunicar-se busque ser objetivo:
          p.mt1 Ao invés de “Você trabalha demais!”, diga “Notei que está trabalhando mais de 10 horas por dia.”
      .boxLine
        .texts
          p <b>Dicas</b>
          ol
            li
              p Separar os fatos concretos – aquilo que aconteceu e é visível aos nossos olhos do que eu penso e acho sobre os fatos.	
            li
              p Escutar e/ou ver o comportamento do outro sem criar uma avaliação ou imagem errônea daquele sujeito.		
            li
              p Ter atenção e esperar o momento certo para falar, ou seja, ser sensível ao contexto. Temos um viés natural de partir para julgamentos, portanto, atente-se ao tempo entre estímulo e reação para evitar respostas imediatas.
            li
              p Posicionar como você se sentiu e percebeu a situação para evitar cair em julgamentos. Tentar colocar os impactos/ sentimentos em primeira pessoa. Ex: Rafa, quando você colocou aquela informação no grupo de Whatsapp eu me senti muito exposto.”
      