mixin accordeon02_aba11(title)
  .corpbtn
    button.accordeon-title
      .boxImg
        +image('help/btn05.png', 'img')
      p Promover um canal aberto para comunicação
    .accordeon-texto
      .boxLine.mt
        p <b>Objetivo:</b> Transmitir informações, orientações, feedback e reconhecimentos para sua equipe, bem como receber sugestões, dúvidas, críticas e denúncias dos colaboradores.
      .flexLine
        .blockImg
          +image('pag07c/slide78.png', 'img')
        .texts
          p <b>Como?</b>
          p.mt1 A liderança deve estar disponível, acessível e receptivo às demandas da equipe, e demonstrar empatia, cordialidade e profissionalismo em todas as interações.
      .boxLine
        .texts
          p <b>Dicas</b>
          ol
            li
              p Para criar um canal de comunicação seguro e aberto, a liderança pode utilizar diferentes meios, como telefone, e-mail, WhatsApp, Teams, entre outros.	
            li
              p Observe os horários de envio de mensagem e procure deixar claro quando houver uma urgência para que as pessoas não achem que precisam estar 100% do tempo disponíveis fora do horário habitual.
            li
              p Sua linguagem e tom devem se adaptar ao público e ao contexto.
            li
              p Se comunique com frequência e honestidade. Assim, atuará como exemplo para o time.

  