mixin accordeon02_aba07(title)
  .corpbtn
    button.accordeon-title
      .boxImg
        +image('help/btn05.png', 'img')
      p Praticar escuta ativa
    .accordeon-texto
      .boxLine.mt
        p <b>Objetivo:</b> Melhorar a convivência, aumentar a confiança do time e encontrar soluções criativas para problemas cotidianos.
      .flexLine.reverse
        .blockImg
          +image('pag07c/slide74.png', 'img')
        .texts
          p <b>Como?</b>
          p.mt1 O papel de um ouvinte ativo é ouvir estando 100% presente e com foco completo no sujeito que fala.
          p.mt1 Assim, deve-se ouvir com todo o corpo: ser curioso, observar, parafrasear o que escuta e orientar a conversa.
          p.mt1 “Então, o que você está me dizendo é que …”
          p.mt1 Também é possível fazer perguntas abertas, incentivar a reflexão e ter o cuidado de não oferecer conselhos.
      .boxLine
        .texts
          p <b>Dicas</b>
          ol
            li
              p Especialmente em conversas difíceis, busque, enquanto ouvinte ativo, repetir ou parafrasear de volta a pessoa o que lhe foi explicado. Isso colabora com a identificação de pontos incorretos no entendimento.	
            li
              p Busque equilibrar a empatia e a objetividade da situação.
      