mixin accordeon02_aba12(title)
  .corpbtn
    button.accordeon-title
      .boxImg
        +image('help/btn05.png', 'img')
      p Visitar farmácias e CDs
    .accordeon-texto
      .boxLine.mt
        p <b>Objetivo:</b> Incentivar membros do time a realizarem visitas e imersões periódicas e estruturadas em farmácias e CDs para aprofundar contato com clientes internos e externos.
      .flexLine.reverse
        .blockImg
          +image('pag07c/slide79.png', 'img')
        .texts
          p <b>Como?</b>
          p.mt1 Fazer um check-list dos temas a serem explorados na vista podem torná-la mais efetiva e alinhadas com desafios da área!
          p.mt1 Após visitas e imersões, é importante que os aprendizados da experiência sejam compartilhados com o time, assim como eventuais insights para a área.
      .boxLine
        .texts
          p <b>Dicas</b>
          ol
            li
              p Entenda quais membros do seu time poderiam se beneficiar de uma visita: Qual foi a última vez que cada pessoa visitou uma farmácia ou CD? Como uma visita poderia ajudar com os desafios atuais do time?	
            li
              p Procure conciliar as visitas com a chegada de uma nova pessoa no time (ex: onboarding) e/ou outros rituais da RD (ex: inauguração das farmácias ou dia do balcão).
            li
              p Levante, com o time, temas que podem ser importantes para serem explorados em uma imersão e promova um momento de troca sobre a experiência.
            li
              p Procure estabelecer uma periodicidade com seu time para realizar visitas a farmácia e CDs e mantê-los conectados com a ponta, como exemplo para o time.