mixin accordeon02_aba04(title)
  .corpbtn
    button.accordeon-title
      .boxImg
        +image('help/btn05.png', 'img')
      p Oferecer <i><b>feedback</b></i> recorrente
    .accordeon-texto
      .boxLine.mt
        p <b>Objetivo:</b> Dar clareza para o time sobre suas perspectivas de liderança.
      .flexLine.reverse
        .blockImg
          +image('pag07c/slide71.png', 'img')
        .texts
          p <b>Como?</b>
          p.mt1 Por meio de feedback constante, elaborado tendo em vista as melhores práticas de comunicação, oferecido em ciclos curtos, voltado para resolução de problemas, construção de valor e embasado em fatos e situações do dia a dia.
          p.mt1 Elabore previamente, considerando os 4 Cs:
          ul
            li
              p CONTEXTO
            li
              p CONDUTA
            li
              p CONSEQUÊNCIA
            li
              p COMBINADOS
      .boxLine
        .texts
          p <b>Dicas</b>
          ol
            li
              p O aprendizado é potencializado quando a liderança oferece mais feedback reconhecendo esforços e realizações, ajudando a reforçar os comportamentos desejados e facilitando a absorção de mensagens mais difíceis.	
            +image('pag07c/img04b.png', 'img')
            li
              p Lembrar de falar para as pessoas e não das pessoas.		
            li
              p Checar entendimento: Após dar feedback, cheque entendimentos e recalibre mensagens, se necessário “Qual é a principal mensagem que fica para você deste feedback?”
