mixin accordeon02_aba01(title)
  .corpbtn
    button.accordeon-title
      .boxImg
        +image('help/btn05.png', 'img')
      p Realizar <i><b>check</b></i> in e <i><b>check</b></i> out
    .accordeon-texto
      .boxLine.mt
        p <b>Objetivo:</b> Abrir espaço para escutar brevemente algumas vozes do time antes adentrar pautas ou concluir reuniões.
      .boxLine
        p <b>De forma que:</b>
        ul
          li
            p permitimos e incentivamos que questões, exemplos e vulnerabilidades sejam compartilhadas;
          li
            p podemos calibrar a forma como conduzimos cada reunião;
          li
            p sabemos como cada pessoa saiu da reunião;
          li
            p estimular trocas para uma aprendizagem continua e intencional.
      .flexLine.reverse
        .blockImg
          +image('pag07c/slide68.png', 'img')
        .texts
          p <b>Como?</b>
          p.mt1 Por meio de perguntas e provocações tais quais:
          ul
            li
              p “Como chegamos?”
            li
              p “Como saímos?”
            li
              p “Alguma preocupação”
            li
              p “Estamos contemplados?”
      .boxLine
        p <b>Dicas</b>
        ol
          li
            p Procure o seu jeito! Não tem certo e errado: o importante é abrir espaço para captar sentimentos e preocupações genuínas do time.
          li
            p Evite realizar essa prática em toda reunião, pois pode correr o risco de perder sua efetividade. Procure realizá-la em reuniões que envolvem alinhamentos ou pautas mais sensíveis.
          li
            p Utilize como forma de estimular o olhar intencional para o aprendizado. O que aprendemos hoje? Como funcionamos enquanto grupo? Nos escutamos? Algo que possamos recombinar para a uma próxima?

  