mixin accordeon02_aba13(title)
  .corpbtn
    button.accordeon-title
      .boxImg
        +image('help/btn05.png', 'img')
      p Olhar para fora: <i><b>benchmarks</b></i>, fóruns e experiências
    .accordeon-texto
      .boxLine.mt
        p <b>Objetivo:</b> Incentivar o time a olhar para fora e buscar benchmarks e referências para a evolução dos nossos negócios, assim como oportunidades de atualização e desenvolvimento.
      .flexLine.reverse
        .blockImg
          +image('pag07c/slide80.png', 'img')
        .texts
          p <b>Como?</b>
          p.mt1 Por meio da ampliação de referências e parcerias: eventos e congressos especializados; fóruns, seminários e palestras cursos para desenvolvimento; experiências de aprendizagem.
      .boxLine
        .texts
          p <b>Dicas</b>
          ol
            li
              p Incentive o time a buscar benchmarks e referências externas para processos chaves: Como outras empresas que são referência para nós estão fazendo isso? Quais ferramentas que estão utilizando? O que podemos aprender com eles?	
            li
              p Procure mapear com seu time eventos, fóruns e cursos que podem ajudar na evolução e na atualização de temas e desafios da áreas.
            li
              p Busque conectar as ambições de desenvolvimento do time com oportunidades (eventos, palestras e cursos, por exemplo) que podem trazer importantes aprendizados para a área.