mixin accordeon02_aba08(title)
  .corpbtn
    button.accordeon-title
      .boxImg
        +image('help/btn05.png', 'img')
      p Delegar tarefas adequadamente
    .accordeon-texto
      .boxLine.mt
        p <b>Objetivo:</b> Evitar sobrecarga de membros da equipe, promover autonomia e otimizar tempo de trabalho.
      .flexLine.reverse
        .blockImg
          +image('pag07c/slide75.png', 'img')
        .texts
          p <b>Como?</b>
          p.mt1 Para delegar tarefas de forma eficiente, um líder deve:
          ul
            li
              p Definir os objetivos e os resultados das tarefas.
            li
              p Escolher as pessoas adequadas para as tarefas.
            li
              p Comunicar as tarefas com clareza e objetividade.
            li
              p Fornecer os recursos e o apoio necessários.
            li
              p Acompanhar o progresso e o desempenho das tarefas.
            li
              p Avaliar os resultados e o processo de delegação.
      .boxLine
        .texts
          p <b>Dicas</b>
          ol
            li
              p Lembre-se: o responsável por delegar uma tarefa de curto prazo, é você! Assim, organize-se para delegar tarefas com a antecedência adequada.	
            li
              p Faça um briefing adequado e antecipe dúvidas.
            li
              p Para não se desculpar por não delegar, invista no treinamento e na supervisão. Aumente a autonomia da pessoa conforme seu desempenho. Evite a microgestão e o apego a detalhes. Assim, você motiva a equipe a melhorar.
            li
              p Não esqueça: cada pessoa tem peculiaridades em seus processos. Assim, não se fixe no seu processo como único possível! Busque flexibilidade. Oriente mais O QUE a pessoa deve entregar do que o COMO.
      