mixin accordeon02_aba02(title)
  .corpbtn
    button.accordeon-title
      .boxImg
        +image('help/btn05.png', 'img')
      p Perguntar para incentivar a participação
    .accordeon-texto
      .boxLine.mt
        p <b>Objetivo:</b> Incentivar o compartilhamento de exemplos, preocupações e vulnerabilidades para que seja possível conhecer o time.
      .flexImgs
        +image('pag07c/img02b.png', 'img')
        +image('pag07c/slide69.png', 'img')
      .boxLine
        p <b>Dicas</b>
        ol
          li
            p Faça perguntas que não se limitem a respostas “sim ou não”. Essas respostas são importantes, mas precisam ser alternadas com perguntas de ampliação e aprofundamento. E a sua intuição pode te ajudar a entender o momento certo de fazer tais perguntas. Atente-se a ela!
          li
            p Lembre-se: você não sabe as respostas!
          li
            p Formule as perguntas de uma maneira que ajude os outros a compartilhar seus pensamentos de maneira focada.
      