mixin accordeon02_aba05(title)
  .corpbtn
    button.accordeon-title
      .boxImg
        +image('help/btn05.png', 'img')
      p Agradecer quem fala
    .accordeon-texto
      .boxLine.mt
        p <b>Objetivo:</b> Criar um espaço seguro e acolhedor para autenticidade na comunicação e uma igualitária distribuição da fala, independente da hierarquia.
      .flexLine.reverse
        .blockImg
          +image('pag07c/slide72.png', 'img')
        .texts
          p <b>Como?</b>
          p.mt1 Não importa se você concorda ou não com o ponto levantado, é importante valorizar quem toma riscos e traz a voz.
          p.mt1 “Muito obrigado(a) por trazer seu ponto de vista.”
          p.mt1 Depois de agradecer, é importante, é claro, colocar seu ponto de vista e explicar suas perspectivas.
          p Lembrando que a apreciação pode ir de um simples “obrigado” até um bônus ou recompensas.
      .boxLine
        .texts
          p <b>Dicas</b>
          ol
            li
              p Valorizar as contribuições das pessoas em reuniões antes de partir para uma resposta ou colocar seu ponto de vista.	
            li
              p Ser vocal nas reuniões, agradecer quem fala pode trazer para perto pessoas que sejam mais céticas ou desconfiadas.