mixin accordeon02_aba09(title)
  .corpbtn
    button.accordeon-title
      .boxImg
        +image('help/btn05.png', 'img')
      p Desenvolver competências do time
    .accordeon-texto
      .boxLine.mt
        p <b>Objetivo:</b> Alinhar os valores e os comportamentos da RD, reter os talentos, melhorar a qualidade dos produtos ou serviços, aumentar a criatividade e a inovação e formar novas lideranças.
      .flexLine.reverse
        .blockImg
          +image('pag07c/slide76.png', 'img')
        .texts
          p <b>Como?</b>
          p.mt1 Definir as expectativas e as atividades de cada colaborador, de forma clara e objetiva, e acompanhar o progresso e o desempenho de cada um.
      .boxLine
        .texts
          p <b>Dicas</b>
          ol
            li
              p Investir em cursos, treinamentos e formações que atendam às necessidades e aos interesses dos colaboradores, e que estejam alinhados com os objetivos da empresa.	
            li
              p Viabilizar experiências de aprendizado para as pessoas: projetos, novas atividades, dar exposição.
            li
              p Comunicar-se de forma transparente e frequente com a equipe, dando feedback, reconhecendo os sucessos, solucionando os problemas e incentivando a colaboração.
            li
              p Utilizar habilidades de facilitação e resolução de conflitos, valorizando as competências e as diferenças de cada um, e promovendo um clima de confiança e respeito.
      