extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	body(next-page="pag04", next-hide)
		.body
			.boxWhite.zoomIn
				.boxText
					h1 CASO FICTÍCIO E
					h2 Transformação da Cultura Organizacional na RD
					p A RD está empenhada em fortalecer sua cultura organizacional, promovendo o desenvolvimento contínuo dos colaboradores e aprimorando a comunicação e o feedback dentro da empresa. Como líder designado para liderar essa iniciativa, você enfrenta desafios relacionados aos comportamentos-chave, princípios de liderança e à importância do feedback contínuo.
					button.confirm.block.pulse
						p Confirmar
				.boxQuestion
					p <b>PERGUNTA 10</b>
					p Durante uma avaliação de desempenho, um colaborador recebe feedback sobre áreas de melhoria em suas habilidades de liderança, conforme o princípio "Buscamos as melhores pessoas". No entanto, ele se sente desencorajado e defensivo diante do feedback negativo. Como você abordaria essa situação?
					.boxFlex
						.flex.flex1.correct(res=1)
							button.btn.btn1
								+image('check.png', 'check')
							p Ouviria atentamente as preocupações do colaborador, forneceria suporte e orientação para ajudá-lo a reconhecer áreas de melhoria e desenvolver um plano de ação para seu crescimento profissional.
						.flex.flex2.false(res=0)
							button.btn.btn2
								+image('check.png', 'check')
							p Descartaria as preocupações do colaborador, considerando-as como falta de habilidade para aceitar críticas.
		
block scripts
	script(src="script.js")