include mixins/index.pug
- var acessib_count = 1;

doctype html
html.full-iframe.mr-fontsize
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" type="text/css" href="../../template/page.css")
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		block styles
	//-- TODO: COLOCAR NA APLICAÇÃO PRINCIPAL PARA VER SE FUNCIONA. 
	body(role="application", aria-label="")
		//- - var acessib_count = 1;
		block body-before
		.portrait
		.mr-full
			block body
			//- +controls()
			+header()
			//- +help()
			
		block body-after
	
	+scriptVendor('eventEmitter.js')
	+scriptVendor('jquery.min.js')
	+scriptVendor('jquery-migrate-3.4.1min.js')
	+scriptVendor('slick.min.js')
	+scriptModule('component.base-page.js')
	+scriptModule('behavior.adaptative.js')

	+scriptScripts('jquery-ui.js')
	+scriptScripts('controlsNav.js')
	
	+scriptScripts('resize.js')
	//- +scriptScripts('portrait.js')
	//- +scriptScripts('translate.js')
	+scriptScripts('animated.js')
	//- +scriptScripts('accessibility.js')
	//- +scriptScripts('accessibility-tools.js')
	+scriptScripts('accordeon.js')
	//- +scriptScripts('ballon.js')
	//- +scriptScripts('ballonQuiz.js') 
	+scriptScripts('modalSlide.js')
	//- +scriptScripts('instrucoes.js')
	+scriptScripts('game-control.js')
	+scriptModule('component.modal.js')
	block scripts