extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	body(prev-page="pag07a", next-page="pag07a", next-hide)
		.body
			.boxOrange.zoomIn
				.boxAccordeon
					h1 Quais Práticas queremos fortalecer?
					p.subtext Clique em + para conhecer os comportamentos esperados.
					.container-accordeon
						+accordeon01_aba01('')
						+accordeon01_aba02('')
						+accordeon01_aba03('')
						+accordeon01_aba04('')
						+accordeon01_aba05('')
						+accordeon01_aba06('')
						
						
						
					
						
						
block scripts
	script(src="script.js")